Login Dialog Requirements
-------------------------

Layout

* Dialog title or page title or Border title is "Login to Clean Code Center"
* Logo displayed on top of dialog, centered.
* Message "Welcome to Clean Code Center!" displayed centered below logo.
* Label "Phone, email or username" with input field next to it.
* Username field is limited to 20 characters.
* Label "Password" with input field next to it.
* Password field is limited to 20 characters.
* Dark blue Button "Log in" in right corner of dialog.
* Link/Button "Forgot Password" in left corner of dialog.
* Label with red boxed error display above buttons. Only visible on errors.

Styling

* Background white.
* Border around dialog: 1px dashed, colour #cccccc
* Text: Georgia, Serif; colour #333333, 12 pt
* Welcome Text: 'Trebuchet MS', Trebuchet, Arial, Verdana, Sans-serif; colour #cc6600 (orange), 15 pt
* Errors are prefixed with little red error icon (X)
* Warnings are prefixed with little red warning icon (!)

<a href="https://icon-library.net/icon/error-image-icon-21.html">Error Image Icon #95181</a>
<a href="https://icon-library.net/icon/error-image-icon-11.html">Error Image Icon #95188</a>

Logic with backend = "AuthenticationService".

* Username and password given, button "Log in" clicked, backend reports success, dialog is closed.
* Username and password given, button "Log in" clicked, backend reports no success, show message in error line.

Logic in view

* Username is blank, "Log in" button is inactive.
* Password is blank, "Log in" button is inactive.
* Password is either visible as asterisk or bullet signs.
* Forgot Password link/button closes dialog.


Extra Features
--------------

Focus and Tab Order

* When dialog opens, username field is focused. Focus is shown by yellow rectangle around field.
* Tab moves focus through fields: username, password, show, forgot, log-in
* Enter on Username field triggers log in.
* Enter on Password field triggers log in.

Show Password

* Check box "Show Password" below password input field, initially off.
* If Show Password is enabled the password is visible. If it is disabled, the password is invisible again. (during typing)

Caps Lock Warning

* While typing in username field, if Caps Lock is on, display warning next to field "Caps Lock is on" with icon (!)
* While typing in password field, if Caps Lock is on, display warning next to field "Caps Lock is on" with icon (!)

More Data

* Checkbox "Remember Me" is enabled, backend is notified after successful login.
* Captcha displayed on 10+ try to login unsuccessfully. Refresh Captcha on each try.

---

via Designing UX Login Form and Process https://uxplanet.org/designing-ux-login-form-and-process-8b17167ed5b9
via How to Write Test Cases For a Login Page https://www.softwaretestinghelp.com/login-page-test-cases/
via How to Test a Login Form https://www.automatetheplanet.com/interview-questions-how-test-login/
